/* vertical-tabs.component.css */
h2 {
  text-align: center;
}
.vertical-tabs {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 300px;
  /* display: flex;
  flex-direction: column; */
  /* width: 150px; */
}

.tab {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  /* padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-right: none;
    background-color: #f1f1f1; */
}

.tab.active {
  background-color: white;
  border-right: 1px solid #ccc;
}

.tab-content {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 300px;
  /* padding: 20px; */
}

.tab:hover {
  background-color: #ccc;
}
